[Unit]
Description=SnapsInAZfs Service
Documentation=man:snapsinazfs(8) man:snapsinazfs(5) man:snapsinazfs-zfsprops(7)
Requisite=zfs.target
After=zfs.target
ConditionFileNotEmpty=/etc/SnapsInAZfs/SnapsInAZfs.local.json
ConditionFileNotEmpty=/usr/local/share/SnapsInAZfs/SnapsInAZfs.json
Conflicts=rescue.target rescue.service emergency.target emergency.service friendly-recovery.target friendly-recovery.service

[Service]
Type=notify
ExecStart=/usr/local/sbin/SnapsInAZfs --daemonize
TimeoutStopSec=30s
Restart=on-failure
RestartPreventExitStatus=127
#Set this to the path configured in SnapsInAZfs.nlog.json
LogsDirectory=SnapsInAZfs
LogNamespace=snapsinazfs
ConfigurationDirectory=SnapsInAZfs
Nice=1
OOMPolicy=continue
#Set this to 1 if you want to use dotnet diagnostic tools for debugging
#Leave it at 0 for normal use, as it opens a unix socket listener for .net diagnostic tooling, if set to 1
Environment="DOTNET_EnableDiagnostics=0"
Environment="DOTNET_gcServer=1"
Environment="DOTNET_Thread_UseAllCpuGroups=1"

[Install]
Alias=siaz.service SnapsInAZfs.service
