[Unit]
Description=SnapsInAZfs Service
Documentation=man:SnapsInAZfs(8) man:SnapsInAZfs(5)
Requisite=zfs.target
After=zfs.target
ConditionFileNotEmpty=/etc/SnapsInAZfs/SnapsInAZfs.local.json
ConditionFileNotEmpty=/usr/local/share/SnapsInAZfs/SnapsInAZfs.json
Conflicts=rescue.target rescue.service emergency.target emergency.service friendly-recovery.target friendly-recovery.service

[Service]
Type=notify
ExecStart=/usr/local/sbin/SnapsInAZfs --daemonize
TimeoutStopUSec=30s
Restart=on-failure
RestartPreventExitStatus=127
#Set this to the path configured in SnapsInAZfs.nlog.json
LogsDirectory=SnapsInAZfs
LogNamespace=snapsinazfs
ConfigurationDirectory=SnapsInAZfs
Nice=1
OOMPolicy=continue

[Install]
Alias=siaz.service SnapsInAZfs.service
