[Unit]
Description=SnapsInAZfs Service
Documentation=man:SnapsInAZfs(8) man:SnapsInAZfs(5)
Requisite=zfs.target
After=zfs.target
ConditionFileNotEmpty=/etc/SnapsInAZfs/SnapsInAZfs.local.json
ConditionFileNotEmpty=/usr/local/share/SnapsInAZfs/SnapsInAZfs.local.json
ConditionPathIsReadWrite=/var/log/SnapsInAZfs
ConditionFileIsExecutable=|/usr/sbin/zfs /usr/local/sbin/zfs
Conflicts=rescue.target rescue.service emergency.target emergency.service friendly-recovery.target friendly-recovery.service

[Service]
Type=notify
ExecStart=/usr/local/sbin/SnapsInAZfs --daemonize
TimeoutStopSec=30s
RestartPreventExitStatus=127
#Set this to the path configured in SnapsInAZfs.nlog.json
LogsDirectory=/var/log/SnapsInAZfs
LogNamespace=snapsinazfs
Nice=1
OOMPolicy=continue

[Install]
Alias=siaz.service SnapsInAZfs.service
